
<div class="container-sm">
    <h3>Hi!! these are our friends on Puppyfy!</h3>
        <div class="row gx-5 gy-5">
            {{#each allUsers}}
                <div class="col-12 col-sm-4 col-md-3">
                    <img src="{{this.userImage}}" alt="Profile picture" class="img-fluid">
                    <p>Username: {{this.username}}</p>
                </div>
            {{/each}}
        </div>
</div>

