<h1>Hey! Would you like to change something?</h1>

<form action="/profile/{{user._id}}/profile-edition" method="POST" enctype="multipart/form-data">

<label for="userImage">Profile photo</label>
<input type="file" name="userImage">
<br>

<label for="username">Username</label>
<input type="text" name="username" value="{{user.username}}"/>
<br>

<label for="email">Email</label>
<input type="text" name="email" value="{{user.email}}"/>
<br>

{{!-- NEED TO SHOW THE REAL PASSWORD NOT THE ENCRYTED ONE --}}
{{!-- <label for="password">Password</label>
<input type="text" name="password" value="{{user.password}}"/>
<br> --}}

<label for="fullName">Full Name</label>
<input type="text" name="fullName" autocomplete="off">
<br>

<label for="dateOfBirth">Date of Birth</label>
<input type="text" name="dateOfiirth" autocomplete="off">
<br>

<label for="sex">Sex</label>
<select name="sex" >
        <option value="Female">Female</option>
        <option value="Male">Male</option>
</select>
<br>

<label for="address">Address</label>
<input type="text" name="address" autocomplete="off">
<br>

<label for="phone">Phone</label>
<input type="text" name="phone" autocomplete="off">
<br>

<label for="job">Job</label>
<input type="text" name="job" autocomplete="off">
<br>

<label for="familyStructure">Family structure</label>
<input type="text" name="familyStructure" autocomplete="off">
<br>

<label for="comments">Comments</label>
<input type="text" name="comments" autocomplete="off">
<br>

<button type="submit">Save changes</button>

</form>