<h1>Hi!! this is your Puppyfy profile</h1>

<p>Username: </p>

<p>Email: </p>

<p>Password: </p>

<p>Full name:</p>

<p>Date of Birth: </p>

<p>Sex: </p>

<p>Address: </p>

<p>Phone:</p>

<p>Job:</p>

<p>Family structure:</p>

<p>Puppy adopted</p>

<p>Comments:</p>


<p>Please, fill the information above. This will be usefull for us to get to know you</p>

<a href="profile/edition">Edit your profile</a>

