<div class="about">
    
<h1>Welcome to Puppyfy home</h1>

<h3>Here you'll find who we are</h3>

<p>We are a pet adoption service. We make sure they are in the best hands and receive the best care. You can find on our website all kinds of services for them, hairdressers, trainers...</p>

<p>Join us and be part of the Puppyfy family!!</p>

</div>