
<div class="container-sm">
    
    <h2>About us</h2>

    <h4><strong>Who we are? What we do? Which is our history?</strong></h4>


    <p><strong>If you want to know more about us and our history, just continue reading! We hope you'll enjoy!</strong></p>

   

    <p>In 2020, up to 286.000 dogs and cats were abandoned, to this number you have to sum the ones that aren't counted, like bunnies, turtles and so on. Many of them were rescued by the animal shelters, but they can't help all.</p>

    <p>Because of this matter is why Puppyfy was born. We wanted to build a community in which everyone, who wanted to adopt a puppy, was supported by others and where they can turn to if they need help to take care about the necessities of the animal. </p>
        
    <p>Our principal point is that we facilitate direct adoptions between the owners and the ones that want to adopt. Throught this way of doing things we can follow who has the animal and how's its life going.</p> 
    <p><strong>Our main goal</strong>  is to create a close community of owners, so if one of them has problems to take care of his/her puppy any other person can adopt the animal. This way we are fighting against the abandonment.</p>
    
    <p>Also, as we said in our community we want to offer the best services possible to attend your animal care. That's why we have space for the ones that want to offer them in our family.</p>

    <p><strong>In our community you will meet people with your concerns, have access to the best services and ,also, you will have first-hand information about animals that need a new home and are waiting for someone to take care and pamper them.</strong></p>

    <p><strong>So, join us and be part of the Puppyfy family!!</strong></p>

    <a href="/home">Back to home</a>

</div>

