
    
<h2>About us</h2>

<div class="container-sm">
<h4><strong>Who we are? What we do? Which is our history?</strong></h4>


<p>If you want to know more about us and our history, just continue reading! We hope you'll enjoy!</p>

<p>We are a pet adoption service. We make sure they are in the best hands and receive the best care.</p>

<p>In our community you will meet people with your concerns, you will have access to the best services and first-hand information about animals that need a new home and are waiting for someone like you to take care of them and pamper them.</p>

<p>Join us and be part of the Puppyfy family!!</p>

<a href="/home">Back to home</a>

</div>