<div class="home">

<h1>Puppyfy</h1>
</div>

<div class="buttons">
<button type="" class="homebutton">
    <a href="about-us">About us</a>
</button>
<button type="" class="homebutton">
   <a href="adopt">Adopt</a> 
</button>
<button type="" class="homebutton">
<a href="services/puppycare">Puppy Care</a>    
</button>
<button type="" class="homebuttonfour">
<a href="#">Veterinary</a> 
</button>
<button type="" class="homebutton">
<a href="user/login">Login</a> 
</button>

</div>

