<h1>Puppyfy</h1>
<button type="submit">About us</button>
<button type="submit">Adopt</button>
<button type="submit">Puppy Care</button>
<button type="submit">Veterinary</button>
<button type="submit">Login</button>