<div class="home">

<h1>Puppyfy</h1>
</div>

<div class="buttons">
<button type="" class="homebuttonone">
    <a href="about-us" class="abutton">About Us</a>
</button>
<button type="" class="homebuttontwo">
   <a href="adopt" class="abutton">Adopt</a> 
</button>
<button type="" class="homebuttonthree">
<a href="services/puppycare" class="abutton">Puppy Care</a>    
</button>
<button type="" class="homebuttonfour">
<a href="#" class="abutton">Veterinary</a> 
</button>
<button type="" class="homebuttonfive">
<a href="user/login" class="abutton">Login</a> 
</button>

</div>

