<div class="home">

<h1>Puppyfy</h1>
</div>

<div class="buttons">
<button type="" class="homebutton">
    <a href="#">About us</a>
</button>
<button type="" class="homebutton">
   <a href="#">Adopt</a> 
</button>
<button type="" class="homebutton">
<a href="#">Puppy Care</a>    
</button>
<button type="" class="homebuttonfour">
<a href="#">Veterinary</a> 
</button>
<button type="" class="homebutton">
<a href="#">Login</a> 
</button>

</div>

