

<div class="container-sm">

    <div class="card mb-3" style="max-width: 50rem">
        <div class="row g-0" >
            <div class="col-md">
                <img src="/images/puppify-logo.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="h1" class="card-title">Puppyfy</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-12 col-sm-4 col-md-3">
            <a  href="adopt" class="btn btn-primary btn-lg adopt" role="button">Adopt</a> 
        </div>
        <div class="col-12 col-sm-4 col-md-3">
            <a href="/puppy-care" class="btn btn-secondary btn-lg puppy-care" role="button">Puppy care</a>    
        </div>
        <div class="col-12 col-sm-4 col-md-3">
            <a href="/puppy-care/veterinaries" class="btn btn-primary btn-lg veterinary" role="button">Veterinary</a> 
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <a href="user/login" class="btn btn-success btn-lg" role="button">Login</a> 
    <div>

</div>

