
<h1 class="home">Puppyfy</h1>


<div class="buttons">
    <img src="" alt="">
    <a href="about-us">About Us</a>
</div>


<a href="adopt">Adopt</a> 

<a href="/puppy-care">Puppy Care</a>    

<a href="/veterinary">Veterinary</a> 

<a href="user/login">Login</a> 



