
<h1 class="home">Puppyfy</h1>


<div class="buttons">

<a href="about-us" class="abutton">About Us</a>

<a href="adopt" class="abutton">Adopt</a> 

<a href="/puppy-care" class="abutton">Puppy Care</a>    

<a href="/veterinary" class="abutton">Veterinary</a> 

<a href="user/login" class="abutton">Login</a> 

</div>

