
<div class="container-sm">

  <h3>Hi! Nice to have you here again!</h3>

    <div class="d-flex justify-content-center">

      <form action="/user/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" autocomplete="off"/>

        <label for="password">Password</label>
        <input type="password" name="password" autocomplete="off"/>

        <button type="submit">Enter to your space</button>
      </form>

      <p>{{errorMessage}}</p>
      
    </div>

  <a href="/home">Back to home</a>

</div>