<div>
  <h2>Hi! Nice to have you here again!</h2>

  <form action="/user/login" method="post">

    <label for="username">Username</label>
    <input type="text" name="username" autocomplete="off" />
{{!-- 
    <label for="email">Email</label>
    <input type="text" name="email" autocomplete="off" /> --}}

    <label for="password">Password</label>
    <input type="password" name="password" autocomplete="off" />

    <button type="submit">Enter to your space</button>

  </form>
  
  <h3>{{errorMessage}}</h3>

</div>