
  <h2>Hi! Nice to have you here again!</h2>
<div class="d-flex justify-content-center">
  <form action="/user/login" method="post">

    <label for="username">Username</label>
    <input type="text" name="username" value="carol"/>

    <label for="password">Password</label>
    <input type="password" name="password" value="123456Ss!"/>

    <button type="submit">Enter to your space</button>
  </form>

      
  <p>{{errorMessage}}</p>
</div>
<a href="/home">Back to home</a>