
  <h2>Would you like to be part of our family?</h2>

<div class="d-flex justify-content-center">
  <form action="/user/signup" method="post">

    <label for="username">Username</label>
    <input type="text" name="username" autocomplete="off"/>

    <label for="email">Email</label>
    <input type="email" name="email" autocomplete="off"/>

    <label for="password">Password</label>
    <input type="password" name="password" autocomplete="off"/>

    <button type="submit">Create new account</button>

  </form>
  
  <p>{{errorMessage}}</p>
</div>
<a href="/home">Back to home</a>