<div>
  <h2>Would you like to be part of our family?</h2>

  <form action="/user/signup" method="post">

    <label for="username">Username</label>
    <input type="text" name="username"/>

    <label for="email">Email</label>
    <input type="email" name="email" />

    <label for="password">Password</label>
    <input type="password" name="password" autocomplete="off" value="1234abcD!"/>

    <button type="submit">Create new account</button>

  </form>
  
  <h3>{{errorMessage}}</h3>

</div>