     body {
         background-color: rgb(209, 228, 235);
         margin: 0;
     }
     
     .container {
         background-color: #b6ebda
     }
     
     h1 {
         padding: 50 0 30 0;
         margin-top: 150;
         text-align: center;
     }
     
     h2,
     h3,
     h5 {
         padding: 30 0 30 0;
         text-align: center;
     }

    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 2.5rem;
    }
     
     h4 {
         padding: 10 0 30 0;
         text-align: center;
     }

    .card{
        background-color:  rgb(209, 228, 235);
        border-color:  rgb(209, 228, 235);
        margin: 3rem 0 5rem 4rem;
        padding: 2rem;
    }

    .h1{
       text-align: center;
       font-size: 4.5rem;
    }
    
    
    .btn-primary,
    .btn-secondary{ 
        background-size: cover;
        font-weight: 600;
        font-size: 1.5rem;
        height: 10rem;
        width: 20rem;
        padding: 4rem;
    }
    
    .adopt{
        background-image: url(/images/adoptdog.jpeg);
    }
    
    .puppy-care {
        background-image: url(/images/puppycarepresen.jpeg);
    }
    
    .veterinary{
        background-image: url(/images/vetwithbg.jpeg);
    }
    
    .haidressers{
        background-image: url(/images/haidresser.jpg);
    }
    
    .puppysitters{
        background-image: url(/images/sitter.jpg);
    }
    
    .puppy-trainers{
        background-image: url(/images/trainer..jpg);
    }

    .dog{
        background-image: url(/images/adoptdog.jpeg);
    }

    .cat{
        background-image: url(/images/adoptcat.png);
    }

    .others{
        background-image: url(/images/adoptothers.jpeg);
    }
    
    .btn-success {
        margin-top: 30;
    }
    
   /*  .img-fluid {
        height: 200;
        width: 220;
    } */
    
    .card-img,
    .img{
        height: 200;
        width: 200;
    }

    
    
  /*   #mapid {
        height: 280px;
        width: 400px;
    } */
    