<div>
  <h2>Adoption Form</h2>

 

  <form action="/adopt/adoption-form" method="post">

    <h3>Data</h3>

    <label for="name">Name</label>
    <input type="text" name="name"/>

    <label for="date-of-birth">Date of Birth</label>
    <input type="number" name="date-of-birth" />

    <label for="sex">Sex</label>
    <input type="text" name="sex"/>

    <label for="breed">Breed</label>
    <input type="text" name="breed"/>

    <label for="colour">Colour</label>
    <input type="text" name="colour" />

    <label for="family-options">Family Options</label>
    <input type="text" name="family-options"/>

    <h3>Personal Data</h3>


    <label for="fullname">Name</label>
    <input type="text" name="fullname"/>

    <label for="date-of-birth">Date of Birth</label>
    <input type="number" name="date-of-birth" />

    <label for="sex">Sex</label>
    <input type="text" name="sex"/>

    <label for="job">Jon</label>
    <input type="text" name="job"/>

    <label for="family-structure">Family Structure</label>
    <input type="text" name="family-structure" />

    <label for="adress">Adress</label>
    <input type="text" name="adress">

    <label for="phone">Phone</label>
    <input type="text" name="phone">
    

    <button type="submit">Submitt</button>

  </form>
  
 

</div>



    <button type="submit">Create new account</button>

  </form>
  
  <h3>{{errorMessage}}</h3>

</div>