
<h2>You're very close to adopting {{puppy.name}}!</h2>

<p>To confirm the adoption please click on the button</p>

<form action="/adopt/{{puppy._id}}/adoption-form" method="post" class="adoption-form">
  
  <button type="submit">Let's go!</button>

</form>


<p> <strong>Important!</strong> if you want to submit the adoption form, you need to signup and fulfill all the personal information in the profile.</p>