 
<h2>Adoption Form</h2>

  <p>Username:</p>

  <p>Name:</p>
  <p>Type of animal</p>
  <p>Date of birth:</p>
  <p>Sex:</p>
  <p>Breed:</p>
  <p>Colour:</p>
  <p>Family options:</p>

  <p>Comments:</p>


{{!-- <a href="adoption-form">Back</a> --}}