<h2>Dogs</h2>
<div class="listdog">  
<img src="../images/adoptdog.jpeg" alt ="dog">  

<h3>Pettype:</h3>
<h3>Name:</h3>
<h3>Breed:</h3>
<h3>Date of Birth:</h>
<h3>Sex:</h3>
<h3>Colour:</h3>
<h3>Family options:</h3>

<button type="">
<a href="adopt/adoption-form">Adoption Form</a>
</button>

</div>

