<div class=adopt>
    <div>
        <h1>Adopt</h1>
    </div>
    <div class="blocks">
    <div class="blockdog">
        <img src="../images/adoptdog.jpeg" alt ="dog" > 
        <a href="adopt/dogs">Dogs</a>
    </div>
    <div class="blockcat">
        <img src="../images/adoptcat.png" alt ="cat">
            <a href="adopt/cats">Cats</a>
    </div>
    <div class="blockothers">
        <img src="../images/adoptothers.jpeg" alt ="other pets">
        <a href="adopt/otherpets">Other Pets</a>
    <br>
    </div>
    </div>

    <div class="links">
        <a href="adopt/adoption-form">Adoption Form</a>
        <br>
        <a href="adopt/create">Give in adoption</a>
    </div>
    </div>

