
<h2>Adopt</h2>

<div class="container-sm">
    <div class="row gx-5 gy-5">
        <div class="col-12 col-sm-4 col-md-3">
            <img src="" alt ="Dog" > 
            <a href="adopt/dogs">Dogs</a>
    
        </div>

        <div class="col-12 col-sm-4 col-md-3">
            <img src="" alt ="Cat">
            <a href="adopt/cats">Cats</a>
        </div>

        <div class="col-12 col-sm-4 col-md-3">
            <img src="" alt ="Other puppies">
            <a href="adopt/other-puppies">Other puppies</a> 
        </div>

    </div>
</div>



<a href="adopt/give-in-adoption" class="links">Give in adoption</a>

 
<a href="/home">Back to home</a>
