<h2>Adopt</h2>

<img src="../images/adoptdog.jpeg" alt ="dog"> 
<a href="adopt/dogs">Dogs</a>

<img src="../images/adoptcat.png" alt ="cat">
<a href="adopt/cats">Cats</a>

<img src="../images/adoptothers.jpeg" alt ="other pets">
<a href="adopt/otherpets">Other Pets</a>

<br>


<a href="adopt/adoption-form">Adoption Form</a>
<br>
<a href="adopt/create">Give in adoption</a>

