
<h1 id='adopt'>Adopt</h1>

    <div class="blocks">

    <div class="blockdog">
        <img src="../images/adoptdog.jpeg" alt ="dog" > 
        <a href="adopt/dogs">Dogs</a>
    </div>

    <div class="blockcat">
        <img src="../images/adoptcat.png" alt ="cat">
            <a href="adopt/cats">Cats</a>
    </div>

    <div class="blockothers">
        <img src="../images/adoptothers.jpeg" alt ="other pets">
        <a href="adopt/other-puppies">Other Puppies</a>
    </div>

    </div>


<a href="adopt/adoption-form" class="links">Adoption Form</a>
<br>
<a href="adopt/give-in-adoption" class="links">Give in adoption</a>

 

