<div class="services">
    <div class="titleservices">
        <h1>Puppy Care</h1>
    </div>
    <div class="petservices">
        <div class="hairdresser">   
            <img src="../images/hairdresser img.jpeg" alt ="pet hairdresser"> 
            <a href="services/hairdressers">Hairdressers</a>
        </div> 
        <div class="puppysitter"> 
            <img src="../images/puppysitter.jpeg" alt ="puppysitter">
            <a href="services/puppysitters">Puppysitters</a>
        </div>
        <div class="pettrainer">   
            <img src="../images/pet trainers.jpeg" alt ="pet trainer">
            <a href="services/puppysitters">Pet Trainers</a>
        </div>
    </div>
    <br>
    <div class="link-services">
        <a href="partners-form">Join us</a>
    </div>
</div>





</div>