<div class="services">

    <h1 class="titleservices">Puppy Care</h1>

    <div class="petservices">
        <div class="hairdresser">   
            <img src="../images/hairdresser img.jpeg" alt ="pet hairdresser"> 
            <a href="puppy-care/hairdressers">Hairdressers</a>
        </div> 

        <div class="puppysitter"> 
            <img src="../images/puppysitter.jpeg" alt ="puppysitter">
            <a href="puppy-care/puppysitters">Puppy sitters</a>
        </div>

        <div class="pettrainer">   
            <img src="../images/pet trainers.jpeg" alt ="pet trainer">
            <a href="puppy-care/puppysitters">Puppy trainers</a>
        </div>
    </div>
    <br>


    <p>Are you a business? Do you want to join us? Click below and fill out the form. We'll love to have you with us!</p>

    <a href="puppy-care/partners-form">Be our partner!</a>


</div>





