

    <h1 >Puppy Care</h1>

            <a href="puppy-care/hairdressers">Hairdressers</a>
   

        <div class="puppysitter"> 
            <img src="../images/puppysitter.jpeg" alt ="Puppy sitter">
            <a href="puppy-care/puppy-sitters">Puppy sitters</a>
        </div>

        <div class="pettrainer">   
            <img src="../images/pet trainers.jpeg" alt ="Puppy trainer">
            <a href="puppy-care/puppy-trainers">Puppy trainers</a>
        </div>
  
    <br>


    <p>Are you a business? Do you want to join us? Click below and fill out the form. We'll love to have you with us!</p>

    <a href="puppy-care/create">Be our partner!</a>


</div>





