

<div class="container-sm">
        <h2>Puppy care</h2>
        
                <div class="row justify-content-around">
                        <div class="col-12 col-sm-4 col-md-3">
                        <a href="puppy-care/hairdressers" class="btn btn-primary btn-lg haidressers" role="button">Hairdressers</a>
                        </div>

                        <div class="col-12 col-sm-4 col-md-3">
                        <a href="puppy-care/puppy-sitters" class="btn btn-secondary btn-lg puppysitters" role="button">Puppysitters</a>
                        </div>

                        <div class="col-12 col-sm-4 col-md-3">
                        <a href="puppy-care/puppy-trainers" class="btn btn-primary btn-lg puppy-trainers" role="button">Puppy trainers</a>
                        </div>
                </div>

        <p>Are you a business? Do you want to join us? Click below and fill out the form. We'll love to have you with us!</p>

        <a href="puppy-care/partners-form">Be our partner!</a>
        <br>

        <a href="/home">Back to home</a>

</div>