<div>

<h2>Puppy Care</h2>
<img src="../images/hairdresser img.jpeg" alt ="pet hairdresser">  
<h2>Hairdressers</h2>
<img src="../images/puppysitter.jpeg" alt ="puppysitter">
<h2>Puppysitters</h2>
<img src="../images/pet trainers.jpeg" alt ="pet trainer">
<h2>Pet Trainers</h2>





</div>