<h2>Hello future partner!</h2>

<p>If you want to offer your services in our web, please, fill out the information below.</p>

<form action="/puppy-care/partners-form" method="post" enctype="multipart/form-data">

    <label for="name">Name</label>
    <input type="text" name="name" autocomplete="off"/>

    <label for="serviceType">What kind of business do you have?</label>
    <select name="serviceType" >
        <option value="PuppySitter">Puppysitter</option>
        <option value="Hairdresser">Hairdresser</option>
        <option value="PuppyTrainer">Puppy trainer</option>
        <option value="Veterinary">Veterinary</option>
    </select>


    <label for="address">Address</label>
    <input type="text" name="address" autocomplete="off"/>

    <label for="contact">Contact</label>
    <input type="text" name="contact" autocomplete="off"/>

    <label for="image">Business photo</label>
    <input type="file" name="image">
    <br>

    <br>
    
    <button type="submit">Submit</button>

</form>

<a href="/home">Back to home </a>