<h2>Partner´s form</h2>

 <form action="/services/partners-form" method="post">

    <h3>Your Data</h3>

    <label for="name">Name</label>
    <input type="text" name="name"/>

    <label for="adress">Adress</label>
    <input type="text" name="adress"/>

    <label for="contact">Contact</label>
    <input type="text" name="contact"/>

    <br>
    <br>
    <button type="submit">Submitt</button>

  