<h2>Hello future partner!</h2>

<p>If you want to offer your services in our web, please, fill out the information below.</p>

<form action="/puppy-care/partners-form" method="post">

    <label for="name">Name</label>
    <input type="text" name="name" autocomplete="off"/>

    <label for="serviceType">What kind of business do you have?</label>
    <input type="text" name="serviceType" autocomplete="off"/>

    <label for="adress">Adress</label>
    <input type="text" name="adress" autocomplete="off"/>

    <label for="contact">Contact</label>
    <input type="text" name="contact" autocomplete="off"/>

    <br>
    
    <button type="submit">Submit</button>

</form>