
<h2>Puppy trainers</h2>

<h4>Would you like to learn how to be a leader to your puppy?</h4>
<p>Here you'll find what you need!</p>


{{#each allPuppyTrainers}}

<img src="{{this.image}}" alt ="Hairdresser photo">  

<p>Name: {{this.name}}</p>
<p>Address {{this.address}}</p>
<p>Contact: {{this.contact}}</p>


{{/each}}

<a href="/puppy-care">Back</a>